.ivu-btn {
  font-size: 14px;
  padding: 0 11px;
}

.ivu-table-border th {
  height: 44px !important;
  font-weight: 600;
  color: #33475f;
  font-size: 14px;
  background: #f0f2f4;
}

.ivu-table-row-hover td {
  background: #f7f8f9 !important;
}

.ivu-table td {
  height: 50px;
}

/* 隐藏头部底边框 */
.ivu-modal-header {
  border-bottom: none;
}

/* 隐藏底部头边框 */
.ivu-modal-footer {
  border-top: none;
}

/* modal title */
.ivu-modal-header-inner {
  font-size: 18px;
}
.ivu-modal-confirm .ivu-modal-confirm-head {
  margin-bottom: 20px;
}
.ivu-modal-confirm .ivu-modal-confirm-body {
  padding-left: 10px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(51, 71, 95, 1);
}
.ivu-modal-confirm .ivu-modal-confirm-head .ivu-modal-confirm-head-icon {
  display: none;
}

.ivu-btn-default:hover {
  background: rgba(249, 250, 251, 1);
  border-radius: 2px;
  border: 1px solid rgba(234, 235, 236, 1);
  color: #6e7a87;
}
