/**
  @Author: lize
  @Date: 2020/6/17
  @Description :
  @Parames :
  @Example :
  @Last Modified by: lize
  @Last Modified time: 2020/6/17
 **/
/*.Signature{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.sign-canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
}
.sign-canvas canvas{
    background-color: #e0e3e5;
}
.sign-btn {
    display: flex;
    margin:20px 0;
}
.sign-btn div {
    width: 175px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: #FFFFFF;
}
.sign-btn div:active {
    background-color: #CCCCCC;
    color: #333333;
}
.sign-btn .clear {
    background-color: #FF8F58;
}
.sign-btn .save {
    background-color: #0599D7;
}
